[Unit]
Description=Sproži mesečni obračun zaračunavanja (sled) 1x mesečno

[Timer]
OnCalendar=*-*-01 03:00:00
Persistent=true
Unit=sledenje-billing.service

[Install]
WantedBy=timers.target
