[Unit]
Description=Redno preverjanje/posodabljanje gps.farjolcn.com DDNS zapisa

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=sledenje-ddns.service

[Install]
WantedBy=timers.target
